.coming-soon{
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100vh;
    width: 100vw;
    background-color: #090104;
    position: relative;
}

.coming-soon img{
    height: 70%;
    object-fit: contain;
}

.center-element{
    position: absolute;
    margin-top: 10%;
    text-align: center;
}

.coming-soon-content {
    position: relative;
    z-index: 1; /* Ensure content is above the center element */
    text-align: center;
    /* margin-top: 20px; Adjust margin to control distance from top */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Make sure the content spans the full width */
}

.dit-logo {
    height: 100px; 
    margin-top: 50px;
    margin-bottom: 10px; 
}

/* Presents text styling */
.presents-text {
    font-size: 24px;
    font-family: 'Nico';
    color: white;
    margin-bottom: 10px;
}

.logo-image {
    position: relative;
    width: 500px;
    height: 200px;
    display: inline-block;
}

.coming-soon-youthopia-blur {
    position: absolute;
    top: 8px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: blur(12px);
    z-index: 0;
}

.coming-soon-youthopia {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 1; /* Ensure it's in the foreground */
}
