.event{
    height: 100vh;
    align-content: space-between;
}

.image{
    height: 500px;
    background-color:red ;
    
}
.details{
    padding: 10px;
    margin:20px auto;
    text-align:left

}
.details h1{
    text-align:left
}
.nr{
    display:flex;
    justify-content:space-between;
    align-items:left;
    padding: 12px 0;
}
.info{
display:flex;
justify-content:space-between;
align-items:left;
padding: 12px 0;
}
.reg-btn{
    padding: 10px 20px;
    height:42px;
    margin-top: auto;
}
.reg-btn:hover{
    background-color: rgb(63, 59, 59);
}
.ruleli{
    list-style-type:square;
}
.ruleli li {
    margin: 5px 0;
    margin-right: 10px;
}
.space{
    margin-left: 30px;
}