/* EventCard.css */
.team-card {
    /* border: 1px solid #ddd; */
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    background: rgba(255, 255, 255, 0.1);
    width: 300px;
    height: 400px;
    
}

.team-card img{
    width: 95%;
    object-fit: contain;
    height: 350px;
    border-radius: 8%;
    align-items: center;
}   

.team-details {
    padding: 16px;
    margin: 16px;
    margin-top: 0;
    border-radius: 8px;
    text-align: left;
    background-color: none;
    color: rgb(255, 255, 255);
    text-align: center;
}

.team-details h2 {
    position: relative;
    bottom: 50px;
    font-size: 20px;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.team-details p {
    position: relative;
    bottom: 50px;
    font-size: 1em;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: aliceblue;
}
