.Aboutsection {
    margin-top: 0;
   
    background-color: white;

}

ul{
    display: flex;
    justify-content: space-between;
    list-style: none;

}

.aboutus {
    color: white;
    padding-left: 40px;

}

.containermain1 {
    display: flex;
}

.container1 {
    /* background-color: pink; */
   
    width: 70%;
    margin-left: 40px;
    color: black;



}
/* @media screen and (min-width:) {
    
} */

.container2 {
    
    width: 30%;
    margin-left: 40px;
    color: black;

}

.associationtext {
    color: white;
}

.sponsorlogo {
    display: flex;
    
    
   
}

.logo1 {
  border-radius: 50%;
    
     width: 20%; 
}
.logo1 img {
    border-radius: 50%;
      
     
  }
  

.logo2 {
    border-radius: 50%;
    width: 20%;
    
    background-image: url();
}

.logo3 {
    width: 20%;
    margin-left: 0px;
    /* height: 120px;
    width: 120px;
    background-color: pink;
    background-image: url(); */
}

.logo4 {
     width: 20%; 
    /* height: 120px;
    width: 120px;
    background-color: pink;
    background-image: url(); */
}

.logo5 {
  width: 20%; 
    /* height: 120px;
    width: 120px;
    background-color: pink;
    background-image: url(); */
}

.logo6 {
    height: 120px;
    width: 120px;
    background-color: pink;
    background-image: url();

} */

.containermain2 {
    /* display: flex;
    margin-top: 40px; */
    display: flex;
}



#knowmore {
    
    margin-left: 83%;
    margin-bottom: 10px;


}

.container4{
    
    /* height: 400px; */
    width: 50%;
    
    /* width: 970px; */
    margin-left: 40px;
    color: black;

}
.container4 img{
    width: 100%;
    object-fit: cover;
   

}
.container3 {
    /* background-color: pink; */
    
    width: 30%;
    margin-left: 40px;
    color: black;
}
.container3 img{
    width: 100%;
    height: 79%;

}
/* .containermain3 {
    display: flex;
    margin-top: 40px;
} */

.container5 {
        /* background-color: pink; */
        
        width: 30%;
        margin-left: 40px;
        color: black;
    }
    .container5 img{
        width: 100%;
        height: 79%;

    }

.container6 {
    background-color: pink;
    
    width: 70%;
    margin-left: 40px;
    color: black;

}

.containermain4 {
    
 
    
    
   
}


.containermain4 img{
    height: 300px;
    width: 97%;
    margin-left: 25px;
    margin-top: 20px;
    object-fit: cover;
 
    
    
   
}