.Aboutsection {
    margin-top: 0;
   
    background-color: white;

}

ul{
    display: flex;
    justify-content: space-between;
    list-style: none;

}

.aboutus {
    color: white;
    padding-left: 40px;

}

.containermain1 {
    display: flex;
}

.container1 {
 
    width: 70%;
    margin-left: 40px;
    color: black;



}


.container2 {
    
    width: 30%;
    margin-left: 40px;
    color: black;

}
.container2 img{
    margin-top: 20px;
}

@media only screen and (max-width: 1072px) {
    .containermain1 {
        display: flex;
        flex-direction: column;
        
        align-items: center;

    }
  } 
  @media only screen and (max-width: 1072px) {
    .containermain2 {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;

    }
  } 

  @media only screen and (max-width: 1072px) {
    .knowmore{
       display:flex;
       align-items:center;
       text-align: center;
       margin-right: 700px;
       width: 95vw;

    }
  } 
  @media only screen and (max-width: 1072px) {
    .containermain3 {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
      

    }
  } 
  @media only screen and (max-width: 1072px) {
    .containermain4 {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
      

    }
  } 





.associationtext {
    color: black;
}

.sponsorlogo {
    display: flex;
    margin-left: 80px;
    
    
   
}

.logo1 {
  border-radius: 50%;
    
     width: 20%; 
}
.logo1 img {
    border-radius: 50%;
    width: 90px;
    height: 90px;
      
     
  }
  

.logo2 {
    border-radius: 50%;
    width: 20%;
    
    background-image: url();
}
.logo2 img {
    border-radius: 50%;
    width: 90px;
    height: 90px;
      
     
  }

.logo3 {
    width: 20%;
    margin-left: 0px;
  
}
.logo3 img {
    border-radius: 50%;
    width: 90px;
    height: 90px;
      
     
  }

.logo4 {
     width: 20%; 
  
}
.logo4 img {
    border-radius: 50%;
    width: 90px;
    height: 90px;
      
     
  }

.logo5 {
  width: 20%; 
 
}
.logo5 img {
    border-radius: 50%;
    width: 90px;
    height: 90px;
      
     
  }



.containermain2 {
   
    display: flex;
    margin-top: 20px;
    margin-left: 40px;
}



.knowmore {
    
    margin-left: 350px;
    margin-bottom: 10px;


}

.container4{

    width: 60%;

    margin-left: 40px;
    color: black;

}
.container4 img{
    width: 100%;
    object-fit: cover;
   

}
.container3 {

    
    width: 30%;
    margin-left: 40px;
    color: black;
}
.container3 img{
    width: 100%;
    height: 100%;

}


.container5 {
       
        
        width: 30%;
        margin-left: 40px;
        color: black;
    }
    .container5 img{
        width: 100%;
        height: 79%;

    }

.container6 {
   
    
    width: 70%;
   
    color: black;

}




.containermain5 img{
    height: 300px;
    width: 97%;
    margin-left: 25px;
    margin-top: 20px;
    object-fit: cover;
    margin-right: 40px;
    
 
    
    
   
}
.fromthedesktext h2{
    color: black;
}
.containermain4 {
    display: flex;
    margin-top: 30px;
}

.container7 {
   
   
    width: 70%;
    margin-left: 40px;
    color: black;



}

.container8 {
    
    width: 30%;
    margin-left: 40px;
    color: black;
    margin-top: 30px;

}





.containermain3 {
   
    display: flex;
    margin-top: 20px;
    margin-left: 30px;
}



.container6{
    
  
    width: 50%;
    
  
    margin-left: 40px;
    color: black;
    background-color: white;

}
.container6 img{
    width: 100%;
    object-fit: cover;
   

}
.container5 {
    
    
    width: 30%;
    margin-left: 40px;
    color: black;
}
.container5 img{
    width: 100%;
    height: 100%;

}